layout {
  cwd "/root"
  pane split_direction="vertical" {
    pane split_direction="horizontal" {
      pane focus=true {
        name "Client"
        cwd "/app"
        command "fish"
      }
      pane {
        name "Broker"
        cwd "/app"
        command "fish"
        args "-c" "uv run rec_dtn --id dtn://broker/ --socket /tmp/broker.socket broker"
      }
    }
    pane split_direction="horizontal" {
      pane {
        name "Datastore"
        cwd "/app"
        command "fish"
        args "-c" "uv run rec_dtn --id dtn://datastore/ --socket /tmp/datastore.socket datastore /tmp/testbed_data/datastore_root"
      }
      pane {
        name "Executor"
        cwd "/app"
        command "fish"
        args "-c" "uv run rec_dtn --id dtn://executor/ --socket /tmp/executor.socket executor /tmp/testbed_data/executor_root"
      }
    }
  }
}
